/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
 @media (min-width: 1200px) and (max-width: 1500px) {
     .right_header_info ul li {
     
    }
    
}
 @media (min-width: 992px) and (max-width: 1199px) {
    
}
 

 @media (max-width: 767px) {
 .navbar-toggler {float: right; height: 100%; padding: 20px 0px; }
 .navbar {padding: .5rem 1rem; } 
.custmSelect {padding-right: 0!important;margin-bottom: 1rem;}
input#getText {margin-bottom: 1rem;}
.cmbt_box,.cmbt_box #getMessage{width: 100%;}
ul.slick-dots {display: none; } .homepage-ad-slider{margin-top: 1rem;}
.filter {
    overflow: scroll;
    justify-content: left;
    -ms-flex-pack: initial;}.newsletter_signup button {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid rgb(255, 255, 255);
    margin: 0;
    margin-left: -4px;
}.newsletter_signup label {
    display: none;
}.newsletter_signup {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}.coln {
    padding: 0;
}.newsletter_signup {padding: 10px 0}
}

