<style>
  #cookie-notice {
    font-size: 12px;
    z-index: 99;
    width: 100%;
    /* max-width: 900px; */
    padding: 10px 0px 10px;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
    background-color: #333;
    background-image: linear-gradient(145deg, #73737326 15%, #2b2d2f 80%);
    /* box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346; */
    /* border-radius: 2rem; */
    align-items: center;
    margin: 0rem 0;
  }

  #cookie-notice a {
    color: #C18E40;
  }

  @media (min-width: 600px) {
    #cookie-notice {
      flex-direction: row;
      gap: 4px;
    }
  }

  a#setting:hover {
    border: 1px solid #b98036;
    border-radius: 0;
    font-size: 12px;
    background: #13120d;
    color: #b98036;
  }

  #setting {
    color: #DDDDDD;
    cursor: pointer;
    display: unset;
    margin: 0 0.3rem 0rem;
    padding: 0.5rem 0.7rem;
    text-align: center;
    border: 1px solid #b98036;
    border-radius: 0;
    font-size: 12px;
    background: #b98036;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

  #cookie-notice #cookie-notice-accept:hover, #cookie-notice-decline:hover {
    color: #DDDDDD;
    background: #13120d;
    border: 1px solid #13120d;
  }

  #cookie-notice #cookie-notice-accept, #cookie-notice-decline {
    font-size: 11px;
    color: #DDDDDD;
    cursor: pointer;
    display: unset;
    margin: 0 0.3rem 0rem;
    padding: 0.5rem 0.7rem;
    text-align: center;
    border: 1px solid #b98036;
    border-radius: 0;
    font-size: 12px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

  .btn-primary {
    background: darkgreen;
  }

  @media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }

    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
  }

  .Dateh {
    color: #dddddd;
    text-decoration: underline !important;
  }

  a#close {
    color: #b98036;
  }

  .Dateh:hover {
    color: #b98036 !important;
  }
</style>

<div id="cookie-notice" class="neumorphism-card">
  <span style="color: #fff">
    Wir verwenden Cookies auf unserer Website, um zu verstehen, wie du diese nutzt. Indem du auf "Zustimmen" klickst,
    stimmst du deren Verwendung zu.
    <a href="/impressum" class="Dateh">Datenschutzerklärung</a>
  </span>
  <span>
    <a id="cookie-notice-accept" class="btn">Zustimmen</a> <a id="cookie-notice-decline" class="btn">Ablehnen</i></a>
  </span>
</div>

<script>
  function createCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  function eraseCookie(name) {
    createCookie(name, "", -1);
  }

  function deleteCookieWithPath(name, path = '.real-assets-support.de') {
    document.cookie = name + '=; Path=/; Domain='+path+'; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }

  if (readCookie('cookie-notice-dismissed') == 'true') {
    {% if site.google_tag_id %}
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{site.google_tag_id}}');
    {% endif %}
  } else {
    document.getElementById('cookie-notice').style.display = 'flex';
  }
  document.getElementById('cookie-notice-accept').addEventListener("click", function () {
    createCookie('cookie-notice-dismissed', 'true', 31);
    document.getElementById('cookie-notice').style.display = 'none';
    location.reload();
  });
  document.getElementById('cookie-notice-decline').addEventListener("click", function () {
    document.getElementById('cookie-notice').style.display = 'none';
    deleteCookieWithPath("_gat_gtag_UA_138205903_1");
    deleteCookieWithPath("_ga");
    deleteCookieWithPath("_gid");
  });

</script>