<!-- footer -->
<section class="footer pt-3 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <h6 class="ftr_title">LASSEN SIE UNS VERBINDEN </h6>
        <ul>
          <li><a href="#"><img src="images/location.svg">Real Assets Support Heinkelstraße 4 71384 Weinstadt </a></li>
          <li><a href="tel:>071512565035"><img src="images/phone.svg">07151/2565035 </a></li>
          <li><a href="mailto:info@real-assets-support.de"><img src="images/mail.svg">info@real-assets-support.de</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">{%- include cookie-consent.html -%}
      {%- include footer.html -%}
        <h6 class="ftr_title">SCHNELLE LINKS</h6>
        <ul>
          <li><a href="/impressum">Impressum </a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <label class="ftr_title">SOZIALEN MEDIEN</label>
        <ul class="social_links d-flex">
          <li><a href="https://www.instagram.com/real_assets_support/"> <img src="images/instagram.svg"></a></li>
          <li><a href="https://www.facebook.com/Real-Assets-Support-1462791537189561"> <img
                src="images/logo-facebook.svg"></a></li>
          <li><a href="https://twitter.com/AssetsSupport"> <img src="images/twitter.svg"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid footer_btm">
    <div class="col-md-12 text-center copyright">
      <p>© Copyright 2021 - REAL-ASSETS-SUPPORT.DE - All rights reserved</p>
    </div>
  </div>
</section>
<a href="#" id="scroll" style="display: none;"><span><i class="fa fa-chevron-up" aria-hidden="true"></i></span></a>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>