<!-- footer -->
{% assign f = site.data.footer %}
<section class="footer pt-3 ">
  <div class="container">
    <div class="row">
      {% for c in f.columns %}
      <div class="{% if forloop.index == 1 %}col-lg-5 col-sm-6{% elsif forloop.index == 2 %}col-lg-3 col-sm-6 {% else %}col-md-4 col-sm-12{% endif %}">
        <h6 class="ftr_title">{{c.title}}</h6>
        <ul {% if c.class %}class="{{c.class}}"{% endif %}>
          {% for i in c.items %}
          <li>
            {% if i.link %}
            <a href="{{i.link}}">
              {% if i.image %}
              <img src="{{i.image}}">
              {% endif %}
              {% if i.text %}
              {{i.text}}
              {% endif %}
            </a>
            {% else %}
            {% if i.image %}
            <img src="{{i.image}}">
            {% endif %}
            {% if i.text %}
            {{i.text}}
            {% endif %}
            {% endif %}
            </a>
          </li>
          {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid footer_btm">
    <div class="col-md-12 text-center copyright">
      <p>{{f.copy}}</p>
    </div>
  </div>
</section>
<a href="#" id="scroll" style="display: none;"><span><i class="fa fa-chevron-up" aria-hidden="true"></i></span></a>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js"></script> -->
<script src="js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>